---
import Layout from "../layouts/Layout.astro";
import Button from "../components/BasicButton.astro";
import BasicButton from "../components/BasicButton.astro";
---

<Layout title="Not found - Awesome Astro!">
	<main
		class="m-auto max-w-4xl min-h-screen grid place-content-center text-center"
	>
		<a class="mb-10 font-black text-4xl"> NOT FOUND 😢</a>
		<BasicButton link="/" text="Back Home!" />
	</main>
</Layout>

<style></style>
