---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not found - Awesome Astro!">
	<main
		class="m-auto max-w-4xl min-h-screen grid place-content-center text-center"
	>
		<a class="font-black text-4xl"> NOT FOUND 😢</a>
		<a
			href="/"
			class="mt-20 mx-14 p-2 font-bold rounded fg-accent-light bg-accent opacity-60 hover:opacity-100 transition-opacity"
			>{`Back Home!`}</a
		>
	</main>
</Layout>

<style></style>
