---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title='Awesome Astro!'>
	<main class='m-auto max-w-4xl'>
		<h1 class='pt-5 pb-10 text-[37px] font-black uppercase text-center'>
			Awesome <span class='-mt-5 block text-7xl'>Title</span>
		</h1>

		<p class='pb-10 text-lg'>
			<span class='hard-mark-text'>Lorem ipsum dolor sit amet</span>
			consectetur adipisicing elit. Blanditiis consectetur voluptates nemo distinctio minima quis accusantium
			ratione culpa delectus enim inventore, alias ipsam unde soluta
			<span class='soft-mark-text'>ad ab adipisci iusto voluptate?</span>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur labore tempore similique,
			est nam magni. <mark> Qui vero pariatur vel impedit cumque, dolores aliquid.</mark> Cum necessitatibus
			nulla, commodi hic iure quaerat? Lorem ipsum dolor sit amet consectetur, adipisicing elit.Eaque
			est magnam dolorum minima impedit vero.
			<mark>Dolore a nihil</mark> ullam numquam amet atque corporis sapiente sint, possimus magni repellat
			assumenda expedita.
		</p>

		<ul class='grid grid-cols-2 md:grid-cols-3 gap-3'>
			<li>
				<Card title='AAA' />
			</li>
			<li>
				<Card title='AAA' />
			</li>
			<li>
				<Card title='AAA' />
			</li>
		</ul>
	</main>
</Layout>

<style>

</style>
