---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title='Welcome to Astro.'>
	<main class='m-auto max-w-4xl'>
		<h1 class='mt-5 mb-10 text-[37px] font-black uppercase text-center'>
			Awesome <span class='-mt-5 block text-7xl'>Title</span>
		</h1>

		<ul class='grid grid-cols-2 md:grid-cols-3 gap-3'>
			<li>
				<a class='hover:scale-110 hover:shadow-2xl inline-block contrast-150 transition-all' href='/project-1-detail'>
					<img
						class='aspect-[270/410] h-full w-full object-cover rounded-xl'
						src='https://placehold.co/270x410/F84/FFF?font=roboto&text=/'
						alt='Type a nice alt about the img'
					/>
				</a>
			</li>
			<li>
				<a class='hover:scale-110 hover:shadow-2xl inline-block contrast-150 transition-all' href='/project-1-detail'>
					<img
						class='aspect-[270/410] h-full w-full object-cover rounded-xl'
						src='https://placehold.co/270x410/F84/FFF?font=roboto&text=/'
						alt='Type a nice alt about the img'
					/>
				</a>
			</li>
			<li>
				<a class='hover:scale-110 hover:shadow-2xl inline-block contrast-150 transition-all' href='/project-1-detail'>
					<img
						class='aspect-[270/410] h-full w-full object-cover rounded-xl'
						src='https://placehold.co/270x410/F84/FFF?font=roboto&text=/'
						alt='Type a nice alt about the img'
					/>
				</a>
			</li>
		</ul>
	</main>
</Layout>

<style>

</style>
