---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title='Welcome to Astro.'>
	<main class='m-auto max-w-4xl'>
		<h1 class='mt-5 mb-10 text-[37px] font-black uppercase text-center'>
			Awesome <span class='-mt-5 block text-7xl'>Title</span>
		</h1>

		<ul class='grid grid-cols-2 md:grid-cols-3 gap-3'>
			<li>
				<Card title='AAA' />
			</li>
			<li>
				<Card title='AAA' />
			</li>
			<li>
				<Card title='AAA' />
			</li>
		</ul>
	</main>
</Layout>

<style>

</style>
