---
interface Props {
	title: string
}

const { title } = Astro.props
---

<a
	class='hover:scale-105 hover:shadow-2xl hover:contrast-150 inline-block transition-all card-rounded'
	href='/project-1-detail'
>
	<img
		class='aspect-[270/410] h-full w-full object-cover card-rounded'
		src='https://placehold.co/270x410/FF8844/FFEECC?font=roboto&text=/'
		alt='Type a nice alt about the img'
	/>
</a>

<style>
	.card-rounded {
		border-radius: 0.75rem /* 12px */;
	}
</style>
