
---

titulo:
imagen:


---

<a class='hover:scale-110 hover:shadow-2xl inline-block contrast-150 transition-all' href='/project-1-detail'>
	<img
		class='aspect-[270/410] h-full w-full object-cover rounded-xl'
		src='https://placehold.co/270x410/F84/FFF?font=roboto&text=/'
		alt='Type a nice alt about the img'
	/>
</a>